/* Your amazing stylesheet */

body {
	font-family: Roboto;
}
header {
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0px 100px;
	align-items: center;
	padding: 10px 0px 15px 0px;
}
header #logo_area #logo1 {
	background-color: #E12218;
	color: white;
	padding: 5px;
}
header #logo_area {
	font-size: 30px;
}
header nav ul {
	font-size: 12px;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
header nav ul li {
	padding-left: 20px;
}
#banner {
	background-color: #E22319;
	color: #FFFFFF;
	padding: 160px 0px;
	text-align: center;
	display: flex;
	flex-direction: column;
}
#banner #banner1 {
	font-size: 30px;
	font-weight: 900;
	padding-bottom: 10px;
}
#banner #banner2 {
	font-size: 20px;
	font-weight: 100;
}
#about {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 30px 30% 50px 30%;
}
#about #about1 {
	font-size:25px;
	font-weight: 900;
	padding-bottom: 15px;
	color: #333333;
}
#about #about2 {
	line-height: 35px;
	color: #666666;
}
#contact {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 30px 30% 50px 30%; 
}
#contact #contact1 {
	font-size:25px;
	font-weight: 900;
	padding-bottom: 15px;
	color: #333333;
}
#contact #contact2 {
	padding-bottom: 35px;
	color: #666666;
}
#contact #contactform {
	display: flex;
	flex-direction: column;
	text-align: left;
}
input[type=text] {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  font-size: 30px;
  color: #666666;
}
label {
	color: #333333;
	padding-top: 20px;
	padding-bottom: 20px;
}
input[type=submit] {
	width: 200px;
	background-color: #E22319;
	margin-top: 20px;
	padding: 20px 5px;
	text-align: center;
	border: transparent;
	color: white;
	font-weight: 900;
	border-radius: 30px;
}